// .SkillsSection {
// }
@import './config';
.skills-container {
    .skill-title {
        font-size: 1.4rem;
        font-weight: 400;
    }
    .skill-bar {
        display: flex;
        align-items: center;
        // .skill-text {
        // }
        .skill-progress {
            width: 100%;
            .progress {
                width: 20rem;
                height: .5rem;
                background-color: $secondary-color;
                margin-left: 1rem;
                position: relative;
                border-radius: 50px;
                .inner-progress {
                    position: absolute;
                    // width: 70%;
                    background-color: $primary-color;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                    border-radius: 50px;
                }
            }
        }
    }
}